<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Crud Roles</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <% if (id_cliente !== null) { %>
    <div class="container mt-4">
      <div class="card border-secondary">
        <div class="card-header">Nuevo Plan de Entrenamiento</div>
        <div class="card-body">
          <form action="/crearPlanEntrenamiento" method="post">
            <!-- Selección de Cliente -->
            <div class="mb-3">
              <label for="id_cliente" class="form-label"
                >IDENTIFICACIÓN CLIENTE</label
              >
              <input
                type="number"
                id="id_cliente"
                name="id_cliente"
                class="form-control"
                value="<%= id_cliente %>"
                tabindex="1"
                readonly
              />
            </div>

            <!-- Detalles del Cliente -->
            <div class="mb-3">
              <label for="diaSemana" class="form-label">DIA DE LA SEMANA</label>
              <select class="form-control" id="dia" name="dia" required>
                <option value="" disabled selected>Selecciona un día</option>
                <% const diasSemana = ['Lunes', 'Martes', 'Miércoles', 'Jueves',
                'Viernes', 'Sábado', 'Domingo']; %> <%
                diasSemana.forEach(function(dia) { %>
                <option value="<%= dia %>"><%= dia %></option>
                <% }); %>
              </select>
            </div>

            <!-- Selección de Actividad Física -->
            <div class="mb-3">
              <label for="actividad" class="form-label">ACTIVIDAD FISICA</label>
              <select
                id="actividad"
                name="id_actividad_fisica"
                class="form-select"
                required
              >
                <option value="" disabled selected>
                  Seleccione una actividad física
                </option>
                <% actividades.forEach(function(actividad) { %>
                <option value="<%= actividad.id %>">
                  <%= actividad.nombre_ejercicio %>
                </option>
                <% }) %>
              </select>
            </div>

            <!-- Detalles de la Actividad Física -->
            <div class="mb-3">
              <label for="series" class="form-label">NUMERO DE SERIES</label>
              <input
                type="number"
                class="form-control"
                id="series"
                name="series"
                required
              />
            </div>
            <div class="mb-3">
              <label for="repeticiones" class="form-label"
                >NUMERO DE REPETICIONES</label
              >
              <input
                type="number"
                class="form-control"
                id="repeticiones"
                name="repeticiones"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary" tabindex="5">
              Guardar
            </button>
            <a href="/ver_plan_ent" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="container mt-4">
      <div class="card border-secondary">
        <div class="card-header">Nuevo Plan de Entrenamiento</div>
        <div class="card-body">
          <form action="/guardarPlanentrenamiento" method="post">
            <div class="mb-3">
              <label for="id_cliente" class="form-label"
                >IDENTIFICACIÓN CLIENTE</label
              >
              <input
                type="number"
                id="id_cliente"
                name="id_cliente"
                class="form-control"
                tabindex="1"
                required
              />
            </div>

            <!-- Detalles del Cliente -->
            <div class="mb-3">
              <label for="diasSemana" class="form-label"
                >DÍAS DE LA SEMANA</label
              >
              <div id="dia">
                <label
                  ><input type="checkbox" name="dia[]" value="Lunes" />
                  Lunes</label
                >
                <label
                  ><input type="checkbox" name="dia[]" value="Martes" />
                  Martes</label
                >
                <label
                  ><input type="checkbox" name="dia[]" value="Miércoles" />
                  Miércoles</label
                >
                <label
                  ><input type="checkbox" name="dia[]" value="Jueves" />
                  Jueves</label
                >
                <label
                  ><input type="checkbox" name="dia[]" value="Viernes" />
                  Viernes</label
                >
                <label
                  ><input type="checkbox" name="dia[]" value="Sábado" />
                  Sábado</label
                >
              </div>
            </div>

            <!-- Selección de Grupos Musculares -->
            <div class="mb-3">
              <label for="grupoMuscular" class="form-label"
                >GRUPOS MUSCULARES</label
              >
              <div id="gruposMusculares">
                <!-- Checkboxes para todos los grupos musculares -->
                <% gruposMusculares.forEach(function(grupoMuscular) { %>
                <div class="form-check">
                  <input
                    type="checkbox"
                    name="grupos"
                    value="<%= grupoMuscular.nombre %>"
                    id="grupos"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="grupos">
                    <%= grupoMuscular.nombre %>
                  </label>
                </div>
                <% }) %>
              </div>
            </div>
            <label for="actividad" class="form-label"
              >ACTIVIDADES FISICAS</label
            >
            <!-- Selección de Actividad Física -->
            <div class="mb-3" id="actividadesContainer">
              <!-- Checkboxes de actividades físicas se llenarán con JavaScript -->
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              id="crearPlanForm"
              tabindex="5"
            >
              Guardar
            </button>
            <a href="/ver_plan_ent" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
    <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
                          document.addEventListener("DOMContentLoaded", function() {
        const actividades = <%- JSON.stringify(actividades) %>;
        const gruposMusculares = <%- JSON.stringify(gruposMusculares) %>;

        const actividadesContainer = document.getElementById("actividadesContainer");
        const gruposContainer = document.getElementById("gruposMusculares");

        function actualizarActividades() {
          // Obtener los grupos musculares seleccionados
          const gruposSeleccionados = Array.from(document.querySelectorAll("input[name='gruposMusculares']:checked"))
            .map(grupo => grupo.value);

          // Limpiar contenedor de actividades
          actividadesContainer.innerHTML = '';

          // Filtrar actividades basadas en grupos musculares seleccionados
          const actividadesFiltradas = actividades.filter(actividad => gruposSeleccionados.includes(actividad.gm_nombre));

          // Obtener actividades únicas
          const actividadesUnicas = [...new Set(actividadesFiltradas.map(actividad => actividad.af_nombre))];

          actividadesUnicas.forEach(nombreActividad => {
            // Crear un contenedor para cada actividad
            const div = document.createElement('div');
            div.className = 'mb-3';
            div.innerHTML = `
              <div class="form-check" input[id="actividad_${nombreActividad}"]>
                <input class="form-check-input" type="checkbox" name="actividades" value="${nombreActividad}" id="actividad_${nombreActividad}" />
                <label class="form-check-label" for="actividad_${nombreActividad}">
                  ${nombreActividad}
                </label>
              </div>
              <div class="input-group mt-2" id="inputs_${nombreActividad}" style="display: none;">
                <span class="input-group-text">Series</span>
                <input type="text" class="form-control series-input" name="series_${nombreActividad}" placeholder="Series" min="1" />
                <span class="input-group-text">Repeticiones</span>
                <input type="text" class="form-control repeticiones-input" name="repeticiones_${nombreActividad}" placeholder="Repeticiones" min="1" />
              </div>
            `;
            actividadesContainer.appendChild(div);


            const actividadCheckbox = div.querySelector(`input[id="actividad_${nombreActividad}"]`);
            actividadCheckbox.addEventListener('change', function() {
              const inputsDiv = document.getElementById(`inputs_${nombreActividad}`);
              if (actividadCheckbox.checked) {
                inputsDiv.style.display = 'flex';
                inputsDiv.querySelector('.series-input').setAttribute('required', 'required');
                inputsDiv.querySelector('.repeticiones-input').setAttribute('required', 'required');
              } else {
                inputsDiv.style.display = 'none';
                inputsDiv.querySelector('.series-input').removeAttribute('required');
                inputsDiv.querySelector('.repeticiones-input').removeAttribute('required');
              }
            });
          });
        }

        function mostrarGruposMusculares() {
          gruposContainer.innerHTML = '';
          gruposMusculares.forEach(grupo => {
            const div = document.createElement('div');
            div.className = 'form-check';
            div.innerHTML = `
              <input class="form-check-input" type="checkbox" name="gruposMusculares" value="${grupo.nombre}" id="grupo_${grupo.id}" />
              <label class="form-check-label" for="grupo_${grupo.id}">
                ${grupo.nombre}
              </label>
            `;
            gruposContainer.appendChild(div);
          });

          document.querySelectorAll("input[name='gruposMusculares']").forEach(grupo => {
            grupo.addEventListener("change", actualizarActividades);
          });
        }

        mostrarGruposMusculares();
        actualizarActividades();
      });

      document.getElementById('crearPlanForm').addEventListener('submit', function(event) {
        // Selecciona todos los inputs que corresponden a series y repeticiones
        const seriesInputs = document.querySelectorAll('.series-input');
        const repeticionesInputs = document.querySelectorAll('.repeticiones-input');

        seriesInputs.forEach(input => {
          if (input.closest('.input-group').style.display === 'none') {
            input.removeAttribute('required');
          } else {
            input.setAttribute('required', 'required');
          }
        });

        repeticionesInputs.forEach(input => {
          if (input.closest('.input-group').style.display === 'none') {
            input.removeAttribute('required');
          } else {
            input.setAttribute('required', 'required');
          }
        });
      });
    </script>
  </body>
</html>
