<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <!-- Asegúrate de incluir Tailwind CSS aquí -->
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/JeanCardozo/audios/main/z.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      .btn-confirmar {
        background-color: green;
        color: white;
      }
      .btn-confirmar:hover {
        background-color: #22c55e;
      }
    </style>
  </head>
  <body
    class="bg-gray-100 flex flex-col justify-center items-center min-h-screen p-4"
  >
    <div class="max-w-md w-full bg-white rounded-lg shadow-md overflow-hidden">
      <div class="p-6 sm:p-8">
        <img
          src="https://raw.githubusercontent.com/JeanCardozo/audios/main/logo.png"
          alt="Logo de la empresa"
          class="h-12 mx-auto mb-6"
        />
        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">
          Iniciar sesión
        </h2>
        <form action="/login" method="post" class="space-y-4">
          <div>
            <input
              type="number"
              id="user"
              name="user"
              placeholder="Identificación"
              required
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>
          <div>
            <input
              type="password"
              id="pass"
              name="pass"
              placeholder="Contraseña"
              required
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>
          <button
            type="submit"
            class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-200"
          >
            Iniciar sesión
          </button>
        </form>
        <div class="mt-4 text-center">
          <a href="registrar" class="text-sm text-blue-600 hover:underline"
            >¿No tienes una cuenta? Regístrate</a
          >
        </div>
      </div>
    </div>
    <a
      href="/"
      class="mt-4 text-gray-600 hover:text-gray-800 transition duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 inline-block mr-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
      Volver al inicio
    </a>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert !== "undefined") { %>

    <script>
      Swal.fire({
        title: "<%= alertTitle %>",
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: "<%= showConfirmButton %>",
        timer: "<%= timer %>",
      }).then(() => {
        if ("<%= ruta %>") {
          window.location.href = "<%= ruta %>";
        }
      });
    </script>
    <% } %>

    <script>
      // Función para obtener parámetros de la URL
      function getQueryParams() {
        const params = {};
        window.location.search
          .substring(1)
          .split("&")
          .forEach((pair) => {
            const [key, value] = pair.split("=");
            if (key)
              params[decodeURIComponent(key)] = decodeURIComponent(value || "");
          });
        return params;
      }

      document.addEventListener("DOMContentLoaded", () => {
        const params = getQueryParams();
        if (params.alert === "success") {
          Swal.fire({
            title: "Registro Exitoso",
            text: params.message || "Ahora puedes iniciar sesión.",
            icon: "success",
            confirmButtonText: "Aceptar",
          });
        } else if (params.alert === "error") {
          Swal.fire({
            title: "Error",
            text: params.message || "Ocurrió un problema.",
            icon: "error",
            confirmButtonText: "Aceptar",
          });
        }
        // Puedes manejar más tipos de alertas si es necesario
      });
    </script>
  </body>
</html>
