<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <!-- Asegúrate de incluir Tailwind CSS aquí -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div
      class="login-form bg-white p-5 rounded-lg shadow-lg text-center w-80 backdrop-filter backdrop-blur-lg bg-opacity-40"
    >
      <h1 class="mb-6 text-2xl text-gray-800">Bienvenidos a Zona de Poder</h1>
      <form action="/login" method="post" class="space-y-4">
        <input
          type="number"
          id="user"
          name="user"
          placeholder="IDENTIFICACION"
          autofocus
          required
          class="w-full p-2 mb-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 hover:border-gray-400"
        />
        <input
          type="password"
          id="pass"
          name="pass"
          placeholder="CONTRASEÑA"
          required
          class="w-full p-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 hover:border-gray-400"
        />
        <input
          type="submit"
          class="btn-login w-full p-2 border-none rounded-lg bg-gray-800 text-white cursor-pointer hover:bg-gray-500"
          value="Iniciar"
        />
      </form>
      <a
        href="registrar"
        class="btn-register block mt-3 text-gray-600 hover:underline"
        >Registrar</a
      >
    </div>
    <!-- SweetAlert2 Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Script para mostrar la alerta si hay una -->
    <% if (typeof alert !== "undefined") { %>
    <script>
      Swal.fire({
        title: "<%= alertTitle %>",
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: "<%= showConfirmButton %>",
        timer: "<%= timer %>",
      }).then(() => {
        if ("<%= ruta %>") {
          window.location.href = "<%= ruta %>";
        }
      });
    </script>
    <% } %>
  </body>
</html>
