<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../src/output.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <style>
      .btn-confirmar {
        background-color: green;
        color: white;
      }
      .btn-confirmar:hover {
        background-color: #22c55e;
      }

      .btn-cancelar {
        background-color: red;
        color: white;
      }
      .btn-cancelar:hover {
        background-color: #c53222c4;
      }
    </style>
    <title>Ver Convenio</title>
  </head>
  <body>
    <%- include('../plantillas/navbar.ejs') %>
    <div class="flex justify-right mt-4 p-5">
      <a
        href="#"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        id="crearConvenioBtn"
      >
        <i class="bx bx-plus-circle"></i> Crear Convenio
      </a>
      <a
        href="/index_admin"
        class="ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      >
        Volver
      </a>
    </div>
    <div class="max-w-7xl mx-auto p-4">
      <div class="overflow-x-auto">
        <table
          class="min-w-full table-auto text-xs sm:text-sm lg:text-base text-left text-gray-500 dark:text-gray-400"
        >
          <thead>
            <tr class="bg-gray-500 text-white text-center">
              <th scope="col" class="px-4 py-6">IDENTIFICACION</th>
              <th scope="col" class="px-4 py-6">TIPO DE CONVENIO</th>
              <th scope="col" class="px-4 py-6">ESTADO</th>
              <th scope="col" class="px-4 py-6">ACCIONES</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% let rowCounter = 0; %> <% results.forEach((mensu) => { %>
            <tr
              class="hover:bg-gray-100 <%= rowCounter % 2 < 1 ? 'bg-gray-100' : '' %>"
            >
              <td class="px-4 py-2"><%= mensu.id %></td>
              <td class="px-4 py-2"><%= mensu.tipo_de_mensualidad %></td>
              <td class="px-4 py-2"><%= mensu.estado %></td>
              <td class="px-4 py-2 flex justify-center gap-2">
                <a
                  href="#"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded updateconvenioBtn"
                  data-id="<%= mensu.id %>"
                >
                  Editar
                </a>
                <% if (mensu.estado === 'Inactivo') { %>
                <form action="/activarconvenio" method="post" class="inline">
                  <input type="hidden" name="id" value="<%= mensu.id %>" />
                  <button
                    type="submit"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded"
                  >
                    Activar
                  </button>
                </form>
                <% } else if (mensu.estado === 'Activo') { %>
                <form action="/desactivarconvenio" method="post" class="inline">
                  <input type="hidden" name="id" value="<%= mensu.id %>" />
                  <button
                    type="submit"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                  >
                    Desactivar
                  </button>
                </form>
                <% rowCounter++; %> <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- un modal para crear el convenio ahi melo caramelo -->
    <script>
      document
        .getElementById("crearConvenioBtn")
        .addEventListener("click", function (e) {
          e.preventDefault();
          Swal.fire({
            title: "Crear Convenio",
            html: `
                  <form id="convenioForm" action="/crearConvenio" method="post" class="space-y-4">
          <div>
            <label for="tipo" class="block text-sm font-medium text-gray-700">Tipo de Convenio</label>
            <input type="text" id="tipo" name="tipo" required class="bg-gray-50 border border-gray-300
             text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
              p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
          </div>
        </form>

          `,
            confirmButtonClass: "btn-confirmar",
            cancelButtonClass: "btn-cancelar",
            customClass: {
              confirmButton: "btn-confirmar",
              cancelButton: "btn-cancelar",
            },
            showCancelButton: true,
            confirmButtonText: "Guardar",
            cancelButtonText: "Cancelar",
            preConfirm: () => {
              document.getElementById("convenioForm").submit();
            },
          });
        });
    </script>

    <script>
      document.querySelectorAll(".updateconvenioBtn").forEach((button) => {
        button.addEventListener("click", function (e) {
          e.preventDefault();
          const mensuId = this.dataset.id; // Obtén el ID del rol a actualizar

          // Realiza la solicitud GET para obtener los datos del rol
          fetch(`/actualizar_convenio/${mensuId}`)
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                Swal.fire("Error", data.error, "error");
              } else {
                Swal.fire({
                  title: "Actualizar convenio",
                  html: `
              <form id="updateConvenioForm" action="/update_convenio" method="post">
                <input type="hidden" name="id" value="${mensuId}">
                <div class="mb-3">
                  <label for="tipo" class="block text-sm font-medium text-gray-700">Tipo de Rol</label>
                  <input type="text" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300
                 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" id="tipo" name="tipo" value="${data.tipo_de_mensualidad}" required>
                </div>
              </form>
            `,
                  confirmButtonClass: "btn-confirmar",
                  cancelButtonClass: "btn-cancelar",
                  customClass: {
                    confirmButton: "btn-confirmar",
                    cancelButton: "btn-cancelar",
                  },
                  showCancelButton: true,
                  confirmButtonText: "Guardar",
                  cancelButtonText: "Cancelar",
                  preConfirm: () => {
                    document.getElementById("updateConvenioForm").submit();
                  },
                });
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              Swal.fire(
                "Error",
                "Ocurrió un error al obtener los datos del rol",
                "error"
              );
            });
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const Toast = Swal.mixin({
        toast: true,
        position: "bottom-end", // Mostrar en la esquina inferior derecha
        showConfirmButton: false,
        timer: 2000, // Duración de la alerta en milisegundos (2 segundos)
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer; // Detener el temporizador al pasar el ratón
          toast.onmouseleave = Swal.resumeTimer; // Reanudar el temporizador al quitar el ratón
        },
      });

      // Verificar si el parámetro create=success está en la URL
      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get("create") === "success") {
        Toast.fire({
          icon: "success",
          title: "¡Éxito! Convenio creado exitosamente.",
        });
      }

      // Verificar si el parámetro update=success está en la URL
      if (urlParams.get("update") === "success") {
        Toast.fire({
          icon: "success",
          title: "¡Éxito! Convenio actualizado exitosamente.",
        });
      }
    </script>
  </body>
</html>
