<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CSS -->
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/JeanCardozo/audios/main/z.png"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../../src/output.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
      .btn-confirmar {
        background-color: green;
        color: white;
      }
      .btn-confirmar:hover {
        background-color: #22c55e;
      }

      .btn-cancelar {
        background-color: red;
        color: white;
      }
      .btn-cancelar:hover {
        background-color: #c53222c4;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Ver Mensualidad</title>
  </head>
  <body class="bg-fondo">
    <%- include('../plantillas/navbar.ejs') %>

    <div class="flex justify-center p-5">
      <div class="container">
        <div class="flex space-x-4 my-4">
          <a
            href="#"
            class="btn mt-4 inline-flex items-center border-green-400 bg-green-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-700 crearMensualidadBtn"
            id="crearMensualidadBtn"
          >
            <i class="bx bx-plus-circle mr-2 br-md"></i>Crear Mensualidad
          </a>
          <a
            href="/index_admin"
            class="btn mt-4 inline-flex items-center border border-red-400 bg-red-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-700"
          >
            Volver
          </a>
        </div>
        <div class="max-w-7xl mx-auto p-4">
          <div class="overflow-x-auto">
            <table
              class="min-w-full table-auto text-xs sm:text-sm lg:text-base text-left text-gray-500 dark:text-gray-400"
            >
              <thead class="bg-gray-500 text-white text-center">
                <tr>
                  <th scope="col" class="px-4 py-6 text-sm font-medium">
                    Identificacion
                  </th>
                  <th scope="col" class="px-4 py-6 text-sm font-medium">
                    Total Pagar
                  </th>
                  <th scope="col" class="px-4 py-6 text-sm font-medium">
                    Tipo Mensualidad
                  </th>
                  <th scope="col" class="px-4 py-6 text-sm font-medium">
                    Tiempo Plan
                  </th>
                  <th scope="col" class="px-4 py-6 text-sm font-medium">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200"></tbody>
            </table>
          </div>
        </div>
        <div id="pagination" class="w-full flex justify-center"></div>
      </div>
    </div>

    <script defer>
      const divPagination = document.getElementById("pagination");
      const searchInput = document.getElementById("searchInput");
      let datos = [];
      let filteredData = [];
      const itemsPorPagina = 5;
      let currentPage = 1;

      async function getData() {
        try {
          const response = await fetch("/verMensualidades", {
            method: "POST",
          });

          if (!response.ok) {
            throw new Error(
              "La solicitud no fue exitosa: " + response.statusText
            );
          }

          return await response.json();
        } catch (error) {
          console.error("Error al obtener datos:", error);
          return [];
        }
      }

      async function inicializar() {
        datos = await getData();
        filteredData = datos;
        const totalPages = Math.ceil(filteredData.length / itemsPorPagina);
        generatePagination(totalPages);
        mostrarPagina(1);
      }

      function generatePagination(totalPages) {
        let startPage = Math.max(currentPage - 1, 1);
        let endPage = Math.min(startPage + 2, totalPages);

        if (endPage - startPage < 2) {
          startPage = Math.max(endPage - 2, 1);
        }

        let paginationHTML = "";

        // Botón "Anterior"
        paginationHTML += `
          <button class="mt-4 px-4 py-2 font-bold text-gray-500 bg-white rounded-l hover:bg-gray-100" 
          ${currentPage === 1 ? "disabled" : ""} data-page="${currentPage - 1}">
            Anterior
          </button>
        `;

        // Páginas visibles (solo 3)
        for (let i = startPage; i <= endPage; i++) {
          paginationHTML += `
            <button class=" mt-4 px-4 py-2 font-bold ${
              i === currentPage
                ? "text-blue-500 bg-blue-100"
                : "text-gray-700 bg-white"
            } hover:bg-gray-100 ${
            i === currentPage ? "active" : ""
          }" data-page="${i}">${i}</button>
          `;
        }

        // Botón "Siguiente"
        paginationHTML += `
          <button class=" mt-4 px-4 py-2 font-bold text-gray-500 bg-white rounded-r hover:bg-gray-100" 
          ${currentPage === totalPages ? "disabled" : ""} data-page="${
          currentPage + 1
        }">
            Siguiente
          </button>
        `;

        divPagination.innerHTML = paginationHTML;

        divPagination.addEventListener("click", (e) => {
          if (e.target.tagName === "BUTTON" && !e.target.disabled) {
            currentPage = parseInt(e.target.dataset.page);
            mostrarPagina(currentPage);
            generatePagination(totalPages);
          }
        });
      }

      function mostrarPagina(numeroPagina) {
        const inicio = (numeroPagina - 1) * itemsPorPagina;
        const fin = inicio + itemsPorPagina;
        const datosParaMostrar = filteredData.slice(inicio, fin);

        const tbody = document.querySelector("tbody");
        tbody.innerHTML = datosParaMostrar
          .map(
            (dato, index) => `
              <tr class="py-0 text-xm max-w-sm text-center hover:bg-gray-100 ${
                index % 2 == 0 && "bg-gray-100"
              }">
                <td class="p-2">${dato.id_mensualidad}</td>
                <td class="p-2">${dato.total_pagar}</td>
                <td class="p-2">${dato.tipo_de_mensualidad}</td>
                <td class="p-2">${dato.tiempo_plan}</td>
                <td class="flex justify-center gap-2 px-6 py-4 whitespace-nowrap">
                  <a
                    href="#"
                    class="px-2 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-700 updateMensualidadBtn"
                    data-id="${dato.id_mensualidad}"
                  >
                    Editar
                  </a>
                </td>
              </tr>
            `
          )
          .join("");
      }

      // Barra de búsqueda
      searchInput.addEventListener("input", function () {
        const query = searchInput.value.toLowerCase();

        // Filtrar los datos basados en la búsqueda
        filteredData = datos.filter((dato) =>
          Object.values(dato).some((valor) =>
            String(valor).toLowerCase().includes(query)
          )
        );

        const totalPages = Math.ceil(filteredData.length / itemsPorPagina);
        currentPage = 1;
        generatePagination(totalPages);
        mostrarPagina(1);
      });

      // Llama a la función de inicialización al cargar la página
      inicializar();
    </script>

    <script>
      document
        .getElementById("crearMensualidadBtn")
        .addEventListener("click", function (e) {
          e.preventDefault();

          fetch("/get_mensu_convenio")
            .then((response) => response.json())
            .then((data) => {
              let selectOptions =
                '<option value="" disabled selected>Seleccione un convenio</option>';

              data.forEach(function (con) {
                selectOptions += `<option value="${con.id}">${con.tipo_de_mensualidad}</option>`;
              });

              Swal.fire({
                title: "Crear Mensualidad",
                html: `
                <form id="MensualidadForm" action="/crear_mensualidad" method="post" class="space-y-4">

                  <div>
                    <label for="con" class="block text-sm font-medium text-gray-700">Convenios</label>
                    <select id="con" name="con" required class="mt-1 block w-full rounded-md borde
            r border-gray-300 shadow-sm focus:border-indigo-300
             focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                      ${selectOptions}
                    </select>
                  </div>
                  <div>
                    <label for="pagar" class="block text-sm font-medium text-gray-700">Total a pagar</label>
                    <input type="number" id="pagar" name="pagar" required class="mt-1 block w-full rounded-md borde
            r border-gray-300 shadow-sm focus:border-indigo-300
             focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                  </div>
                  <div>
                    <label for="tiempo" class="block text-sm font-medium text-gray-700">Tiempo del plan</label>
                    <select id="tiempo" name="tiempo" required onchange="actualizarValores()" class="mt-1 block w-full rounded-md borde
            r border-gray-300 shadow-sm focus:border-indigo-300
             focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                      <option value="">Seleccione un tiempo del plan</option>
                       <option value="1 dias">1 dias</option>
                      <option value="15 dias">15 dias</option>
                      <option value="1 Mes">1 Mes</option>
                      <option value="3 Meses">3 Meses</option>
                      <option value="6 Meses">6 Meses</option>
                      <option value="1 Año">1 Año</option>
                       <option value="1 Mes">1 Mes + personalizado</option>
                    </select>
                  </div>
                  <input type="hidden" name="meses" id="meses" value="0">
                  <input type="hidden" name="dias" id="dias" value="0">
                </form>
              `,
                confirmButtonClass: "btn-confirmar",
                cancelButtonClass: "btn-cancelar",
                customClass: {
                  confirmButton: "btn-confirmar",
                  cancelButton: "btn-cancelar",
                },
                confirmButtonText: "Confirmar",
                confirmButtonClass: "btn-confirmar",
                cancelButtonText: "Cancelar",
                cancelButtonClass: "btn-cancelar",
                showCancelButton: true,
                focusConfirm: false,
                preConfirm: () => {
                  const conInput = document.getElementById("con");
                  const pagarInput = document.getElementById("pagar");
                  const tiempoInput = document.getElementById("tiempo");

                  if (!conInput.value) {
                    Swal.showValidationMessage(
                      "Por favor, ingrese un tipo de convenio"
                    );
                    return false;
                  } else {
                    if (!pagarInput.value) {
                      Swal.showValidationMessage(
                        "Por favor, ingrese el total a pagar"
                      );
                      return false;
                    } else {
                      if (!tiempoInput.value) {
                        Swal.showValidationMessage(
                          "Por favor, ingrese el tiempo del plan"
                        );
                        return false;
                      } else {
                        document
                          .getElementById("MensualidadForm")
                          .requestSubmit();
                        const form =
                          Swal.getPopup().querySelector("#MensualidadForm");
                        form.requestSubmit();
                      }
                    }
                  }
                },
              });
            })
            .catch((error) =>
              console.error("Error al obtener los convenios:", error)
            );
        });

      function actualizarValores() {
        const tiempo = document.getElementById("tiempo").value;
        let meses = 0;
        let dias = 0;

        switch (tiempo) {
          case "1 dias":
            dias = 1;
            break;
          case "1 Mes + Personalizado":
            meses = 1;
            break;
          case "15 dias":
            dias = 15;
            break;
          case "1 Mes":
            meses = 1;
            break;
          case "3 Meses":
            meses = 3;
            break;
          case "6 Meses":
            meses = 6;
            break;
          case "1 Año":
            meses = 12;
            break;
        }

        document.getElementById("meses").value = meses;
        document.getElementById("dias").value = dias;
      }

      document.querySelector("tbody").addEventListener("click", function (e) {
        if (e.target.classList.contains("updateMensualidadBtn")) {
          e.preventDefault();
          const mensualidadId = e.target.dataset.id;

          fetch(`/actualizar_mensualidad/${mensualidadId}`)
            .then((response) => response.json())
            .then((data) => {
              console.log("mensualidades", data);
              const mensualidades = data.mensualidades[0];
              const convenios = data.mensualidadConvencional;

              let selectOptions = convenios
                .map(
                  (convenio) =>
                    `<option value="${convenio.id}" ${
                      convenio.id === mensualidades.id_mensu_convencional
                        ? "selected"
                        : ""
                    }>${convenio.tipo_de_mensualidad}</option>`
                )
                .join("");

              let tiempoOptions = [
                "1 dia",
                "15 días",
                "1 Mes",
                "3 Meses",
                "6 Meses",
                "1 Año",
              ]
                .map(
                  (tiempo) =>
                    `<option value="${tiempo}" ${
                      tiempo === mensualidades.tiempo_plan ? "selected" : ""
                    }>${tiempo}</option>`
                )
                .join("");

              Swal.fire({
                title: "Actualizar Mensualidad",
                html: `
                        <form id="UpdateMensualidadForm" action="/update_mensualidad" method="post" class="space-y-4">
                            <div>
                                
                                <input type="hidden" id="ide" name="ide" value="${mensualidades.id_mensualidad}" readonly required class="border-gray-300 mt-1 block w-full rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            </div>
                            <div>
                                <label for="tipo" class="block text-sm font-medium text-gray-700">Convenios</label>
                                <select id="tipo" name="tipo" required class="border-gray-300 mt-1 block w-full rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                                    ${selectOptions}
                                </select>
                            </div>
                            <div>
                                <label for="pagar" class="block text-sm font-medium text-gray-700">Total a pagar</label>
                                <input type="number" id="pagar" name="pagar" value="${mensualidades.total_pagar}" required class="border-gray-300 mt-1 block w-full rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            </div>
                            <div>
                                <label for="tiempo" class="block text-sm font-medium text-gray-700">Tiempo del plan</label>
                                <select id="tiempo" name="tiempo" required class="border-gray-300 mt-1 block w-full rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                                    ${tiempoOptions}
                                </select>
                            </div>
                        </form>
                    `,
                confirmButtonClass: "btn-confirmar",
                cancelButtonClass: "btn-cancelar",
                customClass: {
                  confirmButton: "btn-confirmar",
                  cancelButton: "btn-cancelar",
                },
                confirmButtonText: "Actualizar",
                confirmButtonClass: "btn-confirmar",
                cancelButtonText: "Cancelar",
                cancelButtonClass: "btn-cancelar",
                showCancelButton: true,
                focusConfirm: false,
                preConfirm: () => {
                  const idInput = document.getElementById("ide");
                  const conInput = document.getElementById("tipo");
                  const pagarInput = document.getElementById("pagar");
                  const tiempoInput = document.getElementById("tiempo");

                  if (!idInput.value) {
                    Swal.showValidationMessage(
                      "Por favor, ingrese un id de la mensualidad"
                    );
                    return false;
                  } else {
                    if (!conInput.value) {
                      Swal.showValidationMessage(
                        "Por favor, ingrese un tipo de convenio"
                      );
                      return false;
                    } else {
                      if (!pagarInput.value) {
                        Swal.showValidationMessage(
                          "Por favor, ingrese el total a pagar"
                        );
                        return false;
                      } else {
                        if (!tiempoInput.value) {
                          Swal.showValidationMessage(
                            "Por favor, ingrese el tiempo del plan"
                          );
                          return false;
                        } else {
                          document
                            .getElementById("UpdateMensualidadForm")
                            .requestSubmit();
                          const form = Swal.getPopup().querySelector(
                            "#UpdateMensualidadForm"
                          );
                          form.requestSubmit();
                        }
                      }
                    }
                  }
                },
              });
            })
            .catch((error) =>
              console.error("Error al obtener los convenios:", error)
            );
        }
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Verificar si hay un mensaje de alerta en la respuesta
        `<% if (typeof alertMessage !== 'undefined' && alertMessage) { %>`;
        Swal.fire({
          title: "Éxito",
          text: "<%= alertMessage.text %>",
          icon: "<%= alertMessage.type %>",
          timer: <%= alertMessage.timer %>,
          showConfirmButton: <%= alertMessage.showConfirmButton %>
        }).then(() => {
          // Remover el parámetro de la URL después de mostrar la alerta
          const url = new URL(window.location);
          url.searchParams.delete("message");
          window.history.replaceState({}, "", url);
        });
        `<% } %>`;
      });
    </script>
  </body>
</html>
