<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- para llamar a Tailwind Css -->
    <link rel="stylesheet" href="../../src/output.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Actualizar usuarios</title>
  </head>
  <body class="bg-fondo">
    <%- include('../plantillas/navbar.ejs') %>
    <a
      href="/ver_usuarios"
      class="inline-flex items-center justify-center py-4 px-6 text-white font-semibold rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition-colors duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </a>

    <% if (user) { %>
    <div class="max-w-7xl mx-auto p-4 rounded-md">
      <div class="bg-gray-200 border border-gray-300">
        <div class="text-center p-4 bg-gray-400 font-semibold text-white">
          Editar usuarios
        </div>
        <div class="p-4">
          <form action="/update_usuarios" method="post">
            <div class="mb-4">
              <label for="id" class="block text-sm font-medium text-gray-700"
                >IDENTIFICACION</label
              >
              <input
                type="number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                id="id"
                name="id"
                value="<%= user.id %>"
                readonly
              />
            </div>
            <div class="mb-4">
              <label
                for="nombre"
                class="block text-sm font-medium text-gray-700"
                >NOMBRE</label
              >
              <input
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                id="nombre"
                name="nombre"
                value="<%= user.nombre %>"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="apellido"
                class="block text-sm font-medium text-gray-700"
                >APELLIDO</label
              >
              <input
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                id="apellido"
                name="apellido"
                value="<%= user.apellido %>"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="telefono"
                class="block text-sm font-medium text-gray-700"
                >TELEFONO</label
              >
              <input
                type="number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                id="telefono"
                name="telefono"
                value="<%= user.telefono %>"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="correo_electronico"
                class="block text-sm font-medium text-gray-700"
                >CORREO</label
              >
              <input
                type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                id="correo_electronico"
                name="correo_electronico"
                value="<%= user.correo_electronico %>"
                required
              />
            </div>
            <div class="mb-4">
              <label
                for="contra"
                class="block text-sm font-medium text-gray-700"
                >Contraseña</label
              >
              <input
                type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                id="contra"
                name="contra"
                placeholder="Dejar vacío para mantener la contraseña actual"
              />
            </div>
            <div class="flex justify-between">
              <button
                type="submit"
                class="py-2 px-4 bg-blue-600 text-white font-semibold rounded-md shadow-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !== "undefined") { %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Mostrar la alerta de SweetAlert2
        Swal.fire({
          title: "<%= alertTitle %>",
          text: "<%= alertMessage %>",
          icon: "<%= alertIcon %>",
          showConfirmButton: true, // El usuario debe presionar OK
        }).then(() => {
          // Redirigir después de que el usuario presione OK
          const ruta = "<%= typeof ruta !== 'undefined' ? ruta : '' %>";
          if (ruta) {
            window.location.href = ruta;
          }
        });
      });
    </script>
    <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
