<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Crud Roles</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="card border-secondary">
        <div class="card-header">Nuevo Registro</div>
        <div class="card-body">
          <form action="/crearusu" method="post">
            <div class="mb-3">
              <label for="id" class="form-label">ID</label>
              <input
                type="number"
                class="form-control"
                id="id"
                name="id"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="rol" class="form-label">NOMBRE</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                tabindex="1"
                required
              />
            </div>
            <div class="mb-3">
              <label for="rol" class="form-label">APELLIDO</label>
              <input
                type="text"
                class="form-control"
                id="ape"
                name="ape"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="rol" class="form-label">TELEFONO</label>
              <input
                type="text"
                class="form-control"
                id="telefono"
                name="telefono"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="rol" class="form-label">CORREO ELECTRONICO</label>
              <input
                type="text"
                class="form-control"
                id="correo"
                name="correo"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="rol" class="form-label">CONTRASEÑA</label>
              <input
                type="password"
                class="form-control"
                id="contra"
                name="contra"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="roles" class="form-label">Roles</label>
              <select class="form-select" name="roles" id="roles" required>
                <option value="">Seleccione un rol</option>
                <% roles.forEach(function(rol) { %>
                <option value="<%= rol.id %>"><%= rol.tipo_de_rol %></option>
                <% }) %>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" tabindex="5">
              Guardar
            </button>
            <a href="/ver_usuarios" class="btn btn-secondary">cancelar</a>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !== "undefined") { %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Mostrar la alerta de SweetAlert2
        Swal.fire({
          title: "<%= alertTitle %>",
          text: "<%= alertMessage %>",
          icon: "<%= alertIcon %>",
          showConfirmButton: true, // El usuario debe presionar OK
        }).then(() => {
          // Redirigir después de que el usuario presione OK
          const ruta = "<%= typeof ruta !== 'undefined' ? ruta : '' %>";
          if (ruta) {
            window.location.href = ruta;
          }
        });
      });
    </script>
    <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
