<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>DashBoard Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-fondo">
    <%- include('./plantillas/navbar.ejs') %>

    <canvas id="barChart" width="400" height="40"></canvas>

    <div class="flex justify-center items-start pt-10 h-screen">
      <a
        href="https://biz.payulatam.com/B0f734f74854B55"
        target="_blank"
        class="flex justify-center"
      >
        <img
          src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"
        />
      </a>
    </div>

    <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden"></div>

    <div
      id="loginContainer"
      class="fixed inset-0 flex items-center justify-center hidden z-50"
    >
      <form
        id="formularioValidacion"
        class="relative bg-white p-8 rounded-lg shadow-lg max-w-sm w-full"
        action="/registrarIngreso"
        method="POST"
      >
        <!-- Botón de escape -->
        <button
          id="closeButton"
          type="button"
          class="absolute top-2 left-2 text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-full"
        >
          &#x2715;
        </button>

        <label
          for="campoTexto"
          class="block text-lg font-semibold text-gray-700 mb-4"
          style="font-family: 'Montserrat', sans-serif; color: #2c3e50"
        >
          INGRESE CONTRASEÑA DESPUÉS DEL *
        </label>
        <input
          type="text"
          id="campoTexto"
          name="identificacion"
          required
          class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <input type="submit" style="display: none" />
      </form>
    </div>

    <script>
      document.addEventListener("keydown", function (e) {
        if (e.key === "*") {
          e.preventDefault();
          const campoTexto = document.getElementById("campoTexto");
          campoTexto.value = "*"; // Añadir el '*' automáticamente en el campo de texto

          // Mostrar y enfocar el formulario
          document.getElementById("overlay").classList.remove("hidden");
          document.getElementById("loginContainer").classList.remove("hidden");
          campoTexto.focus(); // Enfocar el campo de texto
        }
      });

      document
        .getElementById("campoTexto")
        .addEventListener("keydown", function (e) {
          if (e.key === "Enter") {
            e.preventDefault(); // Prevenir el comportamiento por defecto de Enter
            const identificacionConAsterisco =
              document.getElementById("campoTexto").value;

            // Validar que el campo no esté vacío después de *
            if (identificacionConAsterisco === "*") {
              alert("Debe ingresar su identificación después del *");
            } else {
              // Enviar la identificación completa como contraseña al backend
              document.getElementById("formularioValidacion").submit();
            }
          }
        });

      // Cerrar el formulario al hacer clic en el botón de escape
      document
        .getElementById("closeButton")
        .addEventListener("click", function () {
          document.getElementById("overlay").classList.add("hidden");
          document.getElementById("loginContainer").classList.add("hidden");
        });
    </script>

    <% if (typeof alert !== "undefined") { %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        Swal.fire({
          title: "<%= alertTitle %>",
          text: "<%= alertMessage %>",
          icon: "<%= alertIcon %>",
          showConfirmButton: true, // Hacer que el usuario tenga que presionar OK
        }).then(() => {
          // Reproducir el sonido al cerrar la alerta
          const sonido = "<%= typeof sonido !== 'undefined' ? sonido : '' %>";
          if (sonido) {
            const audio = new Audio(sonido);
            audio.play().catch((error) => {
              console.log("Error al reproducir el audio:", error);
            });
          }

          // Redirigir después de que el usuario presione OK
          const ruta = "<%= typeof ruta !== 'undefined' ? ruta : '' %>";
          if (ruta) {
            window.location.href = ruta;
          }
        });
      });
    </script>
    <% } %>
  </body>
</html>
